@import 'styles/_global.scss';

.content {
    clear: both;
    padding: 20px;
}

.description {
    color: rgba(0, 0, 0, .75);
    font-size: 21px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}

.product {
    height: 100%;

    &_image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    &_title {
        color: $c-blue;
        font-size: 1.6rem;
        line-height: 1.4;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &_category {
        font-size: 1.5rem;
        line-height: 1.4;
        color: $c-black;
        opacity: 0.5;
        margin-bottom: 10px;
    }

    &_price {
        font-size: 1.8rem;
    }
}
