@import 'styles/_global.scss';

.wrapper {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
}

.label {
  font-size: 1.2rem;
  display: block;
  position: relative;
}

.control {
  width: 100%;
  color: $c-text-color;
  border: 0;
  outline: 0;
  cursor: auto;
  font-size: 1.4rem;
  font-weight: 400;
  user-select: text;
  font-family: $font-family-base;
  background-color: $c-alice-blue;
  transition: border-color $a-time $a-func, color $a-time $a-func;
  border-bottom: 1px solid $c-input-border;

  &:disabled {
    opacity: .4;
    cursor: default;
  }

  &:placeholder {
    color: $c-text-color;
    opacity: 1;
    transition: opacity $a-time $a-func;
    text-overflow: ellipsis;
  }

  &:focus:placeholder {
    color: transparent;
    opacity: 0;
  }

  &_input {
    height: 28px;
    padding: 0 5px;
  }

  &_textarea {
    resize: vertical;
    min-height: 32px;
    max-height: 300px;
    padding: 7px 7px;
  }

  &_error {
    border-color: $c-venetian-red;
    box-shadow: 0 0 0 2px $c-venetian-red;
  }

  &::-ms-clear {
    display: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
  }

  @include outline($c-focus-color);
}

.error,
.hint {
  margin-top: 5px;
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: .02ex;
}

.error {
  color: $c-venetian-red;
}

.hint {
  color: $c-link-water;
  text-align: right;
}

.cleaner {
  position: absolute;
  top: 50%;
  right: 10px;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba($c-text-color, .5);
  cursor: pointer;
  transition: background-color $a-time $a-func;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 2px;
    height: 10px;
    margin-left: -1px;
    margin-top: -5px;
    background-color: $c-white;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    background-color: $c-text-color;
  }
}
