{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "react",
        "stage-0",
        "react-optimize"
    ],
    "plugins": [
        "transform-runtime",
        "transform-react-jsx",
        "transform-react-jsx-self",
        "transform-react-jsx-source",
        "transform-class-properties"
    ]
}
