{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-react-jsx-self"
    ],
    "env": {
        "development": {},
        "production": {
            "presets": [
                "react-optimize"
            ],
            "plugins": [
                "transform-runtime",
                "transform-react-jsx-source",
                "transform-class-properties"
            ]
        }
    }
}
