@import "assets/styles/_global.scss";

.sandwich {
    width: 42px;;
    height: 38px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border: 1px solid $c-gainsboro;

    @media (max-width: $max-tablet) {
        width: 42px;
        height: 38px;
    }
    
    &__ln {
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        transition: background-color .3s ease-in-out;
        margin-top: -1px;

        @media (max-width: $max-tablet) {
            margin-top: -1px;
        }

        &,
        &:before,
        &:after {
            width: 17px;
            height: 1px;
            position: absolute;
            background-color: $c-cobalt;

            @media (max-width: $max-tablet) {
                width: 17px;
                height: 1px;
            }
        }

        &:before,
        &:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            transition: transform .3s ease-in-out;
        }

        &:before {
            transform: translate3d(0,-5px,0);
        }

        &:after {
            transform: translate3d(0,5px,0);
        }

        &_open {
            background-color: #fff;

            &:before {
                transform: translateY(0) rotate(45deg);
            }

            &:after {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
}