@import "~styles/global";

.layout {
    height: 100vh;
    display: flex;
    overflow: hidden;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #020307;
    /* background: linear-gradient(to bottom, #020307 0%, #4169E1 100%); */
    
    &__form {
        width: 100%;
        max-width: 340px;
    }
}