.layout {
    height: 100vh;
    display: flex;
    overflow: hidden;
    user-select: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #020307 0%, #144fbc 100%);
    
    &__form {
        width: 100%;
        max-width: 340px;
    }
}