@import 'assets/styles/_global.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding: $content-padding;
    background-color: var(--teal, #20c997);
}

.title {
    color: var(--white, #fff);
    font-size: 2.6rem;
    line-height: 1;
    white-space: nowrap;
}
