@import 'styles/_global.scss';

// .content_fields .content-fields-container .header-button.green {
//     box-shadow: 0 2px 0 0 #186d3c;
// }
// .content_fields .content-fields-container .header-button {
//     font-size: 0.85em;
//     padding: 0.3em 0.85em;
//     box-shadow: 0 2px 0 0 #c8d7e1;
//     margin-bottom: 0.15em;
//     margin-left: 0.25em;
//     display: inline-block;
// }
// .button.green {
//     background-color: #23a45a;
//     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #23a45a), color-stop(100%, #1e914f));
//     background-image: -webkit-linear-gradient(#23a45a, #1e914f);
//     background-image: -moz-linear-gradient(#23a45a, #1e914f);
//     background-image: -o-linear-gradient(#23a45a, #1e914f);
//     background-image: linear-gradient(#23a45a, #1e914f);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$color1', endColorstr='#ff$color2', GradientType=0);
//     box-shadow: 0px 3px 0 0px #186d3c;
// }
// .button {
//     color: white;
//     font-size: 1em;
//     border-radius: 4px;
//     border: 0;
//     padding: 0.5em 1.5em;
//     background-color: #2B65A1;
//     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2B65A1), color-stop(100%, #1B426B));
//     background-image: -webkit-linear-gradient(#2B65A1, #1B426B);
//     background-image: -moz-linear-gradient(#2B65A1, #1B426B);
//     background-image: -o-linear-gradient(#2B65A1, #1B426B);
//     background-image: linear-gradient(#2B65A1, #1B426B);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$color1', endColorstr='#ff$color2', GradientType=0);
//     outline: 0;
// }

.button {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    outline: none;
    cursor: pointer;
    overflow: visible;
    appearance: none;
    user-select: none;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .04), 0 1px 2px 0 rgba(0, 0, 0, .05);
    transition: background .1s ease-out, border-color .1s ease-out, box-shadow .15s cubic-bezier(.47, .03, .49, 1.38), color .1s ease-out;

    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .05);
    }

    & + & {
        margin-left: 10px;
    }

    &:disabled {
        cursor: default;
        color: #a5adba;
        border-color: transparent;
        background-color: #f4f5f7;
    }
}

.pure,
.link,
.subtle-link {
    &,
    &:active {
        box-shadow: none;
    }
}

.wide {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
    text-align: center;
}

.loader {
    border: 1px solid #0ff;
}

.small {
    height: 28px;
    font-size: 1.2rem;
    line-height: 26px;

    &:not(.icon) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.normal {
    height: 32px;
    font-size: 1.3rem;
    line-height: 30px;

    &:not(.icon) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.medium {
    height: 38px;
    font-size: 1.4rem;
    line-height: 36px;

    &:not(.icon) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.large {
    height: 44px;
    font-size: 1.5rem;
    line-height: 42px;

    &:not(.icon) {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.icon {
    padding-left: 7px;
    padding-right: 7px;
}

.link:not(:disabled) {
    color: $c-button-link;
    border: 0;
    padding: 0;
    line-height: 1;
    background-color: transparent;

    &:hover {
        color: darken($c-button-link, $p-variations-percent);
    }
}

.subtle-link:not(:disabled) {
    color: $c-button-subtle-link;
    border: 0;
    padding: 0;
    line-height: 1;
    background-color: transparent;

    &:hover {
        color: darken($c-button-subtle-link, $p-variations-percent);
    }
}

.pure:not(:disabled) {
    color: $c-normal-color;
    border: 0;
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

.normal:not(:disabled) {
    color: $c-normal-color;
    border-color: $c-normal-border;
    background-color: $c-normal-background;

    &:hover {
        background-color: darken($c-normal-background, $p-variations-percent / 3);
    }
}

.primary:not(:disabled) {
    color: $c-primary-color;
    border-color: $c-primary-border;
    background-color: $c-primary-background;

    &:hover {
        background-color: darken($c-primary-background, $p-variations-percent / 3);
    }
}

.success:not(:disabled) {
    color: $c-success-color;
    border-color: $c-success-border;
    background-color: $c-success-background;

    &:hover {
        background-color: darken($c-success-background, $p-variations-percent / 3);
    }
}

.info:not(:disabled) {
    color: $c-info-color;
    border-color: $c-info-border;
    background-color: $c-info-background;

    &:hover {
        background-color: darken($c-info-background, $p-variations-percent / 3);
    }
}

.warning:not(:disabled) {
    color: $c-warning-color;
    border-color: $c-warning-border;
    background-color: $c-warning-background;

    &:hover {
        background-color: darken($c-warning-background, $p-variations-percent / 3);
    }
}

.danger:not(:disabled) {
    color: $c-danger-color;
    border-color: $c-danger-border;
    background-color: $c-danger-background;

    &:hover {
        background-color: darken($c-danger-background, $p-variations-percent / 3);
    }
}
