@import 'assets/styles/_global.scss';

.tabs {
    padding: 2px;
    line-height: 1;
    font-size: 1.3rem;
    border-radius: 2px;
    display: inline-block;
    color: darken(#3db27f, 25%);
    border: 1px solid #3db27f;
    background-color: #3db27f;
}
