@import "~styles/_global.scss";

.layout {
    @extend %layout;
    @extend %clearfix;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: $max-tablet) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}