@import 'assets/styles/_global.scss';

.view {
    font-size: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.half {
    width: 140px;
    height: 38px;
    position: relative;
    align-items: stretch;
    background-color: $c-white;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $c-whisper;
    }
}

.item {
    color: $c-black;
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    line-height: 1;
    position: relative;
    text-decoration: none;
    transition: color $a-time $a-func, background-color $a-time $a-func;

    &:before {
        content: '';
        width: calc(100% + 1px);
        height: calc(100% + 2px);
        position: absolute -1px;
        opacity: 0;
        border: 1px solid $c-cobalt;
        transition: opacity $a-time $a-func;
        will-change: opacity;
    }

    &:hover {
        color: $c-cobalt;
    }

    &_half {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_active {
        cursor: default;
        color: $c-cobalt;
    }

    &_single {
        font-size: 1.4rem;

        &:not(:last-child) {
            margin-right: 16px;
            padding-right: 16px;
            border-right: 1px solid $c-whisper;
        }
    }

    .half &:hover {
        color: $c-white;
        background-color: $c-cobalt;

        &:before {
            opacity: 1;
        }
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
        margin-right: 7px;
    }
}

.label {
    display: inline-block;
    vertical-align: middle;
}
