.layout {
    clear: both;
    min-height: calc(100vh - 50px);
    overflow: hidden;

    &__header {
        height: 50px;
        padding: 0 20px;
        line-height: 50px;
        background-color: #2d2d2d;

        &__title {
            color: #fff;
            margin: 0;
            font-size: 1.8rem;
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__navbar {
        width: 200px;
        font-size: 1.3rem;
        padding: 10px 20px;
        background-color: #fefefe;

        &__item {
            clear: both;
            
            &:not(:last-child) {
                margin-bottom: 10px;
                outline: 1px solid #f2f2f2;
            }
        }
    
        &__link {
            colro: #4353FF;
            font-size: 1.6rem;
        }

        &__separator {
            font-size: 1.6rem;
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
        }

        &__active {
            color: #FF4353;
            font-weight: 700;
        }
    }

    &__main {
        width: 100%;
        font-size: 1.6rem;
        padding: 10px 20px;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        min-height: calc(100vh - 50px);
    }
}