@import 'assets/styles/_global.scss';

.crumbs {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;

    &_small {
        font-size: 1.2rem;
    }

    &_normal {
        font-size: 1.4rem;
    }

    &:not(:last-child) {
        &:after {
            content: '>';
            margin: 0 5px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.link {
    color: $c-pink-swan;
    text-decoration: none;
    transition: color $a-time $a-func;

    &:hover {
        color: $c-cobalt;
    }
}
