@import 'styles/_global.scss';

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exact {

  &:after {
    content: '';
    flex: 1 10 auto;
  }
}

.grid {
  margin-left: -8px;
  margin-right: -8px;
  align-items: stretch;
}

.list {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.item {
  width: 20%;
  padding: 0 8px;
  margin-bottom: 16px;
}
