@import 'assets/styles/_global.scss';

.wrapper {
    position: relative;
    border: 1px solid $c-blue;
}

.button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: none;
    text-align: center;
    margin-top: -10px;

    &:after {
        width: 16px;
        height: 16px;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        margin-top: -8px;
        margin-left: -8px;
        border-radius: 50%;
        background-color: rgba(#ff5c5c, .8);
        border: 2px solid #f33;
        transition: opacity $a-micro-time ease;
    }
}

.started:after {
    opacity: 1;
}

.icon {
    max-width: 12px;
    max-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
