<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	DirectoryIndex index.html

    RewriteCond $1 !\.(css|js|png|ico|jpe?g|gif|woff|eot|svg|ttf|txt|json)$ [NC]
    RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
