.navbar {
    position: relative;
    white-space: nowrap;
    margin-bottom: 2.5em;
    background-color: rgba(black, .5);
    
    &__logo {
        float: left;
        color: white;
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 44px;
        position: relative;
        z-index: 10;
        text-transform: uppercase;

        @media (max-width: 768px) {
            float: none;
            text-align: center;
        }
    }

    &__menu {
        width: 100%;
        padding: 0 20px;

        &_top {
            height: 44px;
            position: relative;
        }

        &_bottom {
            width: 100%;
            float: left;
            padding: 0 60px;
            transform: translateY(-44px);

            @media (max-width: 768px) {
                display: none;
                transform: translateY(0px);
                border-top: 1px solid rgba(white, .5);
            }
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;

        @media (max-width: 768px) {
            position: absolute;
            z-index: 10;
            display: none;
        }

        &__item {
            margin: 0 5px;

            &__link {
                color: #fff;
                display: block;
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 44px;
            }
        }
    }

    &__screen {
        width: 100%;
        height: 44px;
        transition: all 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(black, .5);

        @media (max-width: 768px) {
            z-index: 0;
            display: none;
        }
    }

    &__trigger {
        width: 20px;
        height: 44px;
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 10;
        cursor: pointer;
        display: none;

        @media (max-width: 768px) {
            display: block;
        }

        &__line {
            width: 20px;
            height: 2px;
            display: block;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -10px;
            transition: all 0.5s;
            background-color: white;

            &:first-child {
                transform: translateY(-3px);
            }

            &:last-child {
                transform: translateY(3px);
            }
        }

        &_open &__line {
            transform: rotate(45deg);

            &:first-child {
                transform: rotate(-45deg);
            }
        }
    }
}
