.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: flex-end;

    &__link {
        color: #666;
        display: block;
        cursor: pointer;
        font-size: 1.5rem;

        &_active {
            color: #f00;
        }
    }
}