@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes SVGRotate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes swing {
    15% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(3px);
    }

    65% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}
