%clearfix {
    zoom: 1;

    &:after {
        clear: both;
    }

    &:before, &:after {
        content: '';
        display: table;
        line-height: 0;
    }
}

%layout {
    width: 100%;
    height: 100%;
    max-width: $layout-width;
    padding-left: $layout-margin;
    padding-right: $layout-margin;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* outline: 1px solid #0FF; */

    @media (max-width: $max-desktop) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $max-tablet) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}