$max-iphone:                    379px;
$max-tablet:                    719px;
$max-desktop:                   1023px;
$max-medium:                    1374px;
$max-large:                     1679px;

$min-phone:                     320px;
$min-iphone:                    380px;
$min-tablet:                    720px;
$min-desktop:                   1024px;
$min-medium:                    1375px;
$min-large:                     1680px;

$a-time:                        .3s;
$a-micro-time:                  .15s;
$a-long-time:                   .7s;

$font-base:                     10px;
$font-family:                   Roboto, sans-serif;

$c-carrot-orange:               #f8991c;

$c-select-color:                #f00;
$c-select-background:           #000;

$c-placeholder-color:           #000;
$c-placeholder-opacity:         .5;

$layout-width:                  1260px;
$layout-margin:                 10px;

$header-height:                 159px;

$footer-margin:                 20px;
$footer-height:                 100px;

$sidebar-width:                 200px;
$sidebar-margin:                20px;
