*, *:before, *:after, *:first-letter, *:first-line {
    quotes: none;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: currentColor;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top-color: currentColor;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-decoration-break: slice;
    box-shadow: none;
    box-sizing: content-box;
    break-after: auto;
    break-before: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: medium;
    column-span: none;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    filter: none;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    font-feature-setting: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: medium;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    height: auto;
    hyphens: manual;
    image-rendering: auto;
    image-orientation: 0deg;
    ime-mode: auto;
    isolation: auto;
    justify-content: flex-start;
    left: auto;
    letter-spacing: normal;
    line-break: auto;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    marks: none;
    mask: none;
    mask-type: luminance;
    max-height: none;
    min-height: 0;
    mix-blend-mode: normal;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 1.0;
    order: 0;
    orphans: 2;
    outline-color: currentColor;
    outline-color: invert;
    outline-offset: 0;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    pointer-events: auto;
    position: static;
    resize: none;
    right: auto;
    scroll-behavior: auto;
    shape-image-threshold: 0.0;
    shape-margin: 0;
    shape-outside: none;
    table-layout: auto;
    tab-size: 8;
    text-align: start;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: currentColor;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-orientation: mixed;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    text-underline-position: auto;
    top: auto;
    touch-action: auto;
    transform: none;
    transform-origin: 50% 50% 0;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 2;
    width: auto;
    will-change: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
}

html *, html *:before, html *:after, html *:first-letter, html *:first-line {
    border-collapse: inherit;
    border-spacing: inherit;
    caption-side: inherit;
    color: inherit;
    cursor: inherit;
    direction: inherit;
    empty-cells: inherit;
    font-family: inherit;
    font-feature-setting: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
    font-weight: inherit;
    hyphens: inherit;
    image-rendering: inherit;
    image-orientation: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    list-style-image: inherit;
    list-style-position: inherit;
    list-style-type: inherit;
    object-fit: inherit;
    object-position: inherit;
    orphans: inherit;
    overflow-wrap: inherit;
    pointer-events: inherit;
    quotes: inherit;
    tab-size: inherit;
    text-align: inherit;
    text-align-last: inherit;
    text-indent: inherit;
    text-orientation: inherit;
    text-rendering: inherit;
    text-shadow: inherit;
    text-transform: inherit;
    text-underline-position: inherit;
    visibility: inherit;
    white-space: inherit;
    widows: inherit;
    word-break: inherit;
    word-spacing: inherit;
    word-wrap: inherit;
}