.login {
    padding: 20px;
    background-color: #fff;

    &__row {
        clear: both;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            height: 32px;
            outline: none;
        }
    }
}