@import 'assets/styles/_global.scss';

.title {
    font-weight: 700;
    line-height: 1;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &_size--normal {
        font-size: 2.1rem;

        @media (--tablet) {
            font-size: 1.6rem;
        }
    }

    &_size--medium {
        font-size: 1.6rem;
    }

    &_size--small {
        font-size: 1.3rem;
    }

    &_size--big {
        font-size: 2.8rem;

        @media (--tablet) {
            font-size: 2.1rem;
        }
    }

    &_primary {
        color: $c-black;
    }

    &_secondary {
        color: $c-pink-swan;
    }
}
