@import 'styles/_global.scss';

@keyframes bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
  }

  &:after {
    animation-delay: -1s;
  }
}
