@import 'styles/_global.scss';

.logo {
    width: 48px;
    height: 48px;
    display: block;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.image {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(components/logo/assets/logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 28px 28px;
}

.title {
    text-indent: -1000px;
    position: absolute;
    left: 0;
    top: 0;
}
