@import 'styles/_global.scss';

.widget {
    color: #444;
    font-size: 1.6rem;
    line-height: 1.125;
    position: relative;
    margin-bottom: 12px;

    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute 0;
        box-shadow: rgba(0, 0, 0, .15) 0 1px 2px 0;
        background-color: #fff;
        border-radius: 2px;
    }
}

.content {
    position: relative;
    z-index: 1;
    padding: 15px 20px;
}

.title {
    color: rgb(153, 153, 153);
    font-size: 1.8rem;
    line-height: 1.3333333333;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
