@import "assets/styles/_global.scss";

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sidebar {
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 1;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -1000px;
}

.system,
.section {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;

    svg, img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:after,
    &:before {
        width: 100%;
        content: "";
        display: block;
        padding-top: 100%;
    }

    &:after {
        width: 3px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        will-change: opacity;
    }
    
    &:nth-child(1) {
        color: #fd7474;

        &:after {
            background-color: #fd7474;
        }
    }
    
    &:nth-child(2) {
        color: #fed971;

        &:after {
            background-color: #fed971;
        }
    }

    &:nth-child(3) {
        color: #fdfe6b;

        &:after {
            background-color: #fdfe6b;
        }
    }
    
    &:nth-child(4) {
        color: #d1fe6b;

        &:after {
            background-color: #d1fe6b;
        }
    }
    
    &:nth-child(5) {
        color: #6bfe74;

        &:after {
            background-color: #6bfe74;
        }
    }
    
    &:nth-child(6) {
        color: #6bfeda;

        &:after {
            background-color: #6bfeda;
        }
    }
    
    &:nth-child(7) {
        color: #6bfdfe;

        &:after {
            background-color: #6bfdfe;
        }
    }
    
    &:nth-child(8) {
        color: #6bd1fe;

        &:after {
            background-color: #6bd1fe;
        }
    }

    &:nth-child(9) {
        color: #746bfe;

        &:after {
            background-color: #746bfe;
        }
    }

    &:nth-child(10) {
        color: #da6bfe;

        &:after {
            background-color: #da6bfe;
        }
    }
}

.active {
    &:after {
        opacity: 1;
    }
}

.icon,
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.icon {
    width: 22px;
    height: 22px;
    content: "";
    opacity: .4;
    border-radius: 50%;
    background-color: rgba(#fff,.4);
}

.settings {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    img, svg {
        width: 22px;
        height: 22px;
        margin-top: -11px;
        margin-left: -11px;
        transform: translate3d(0,0,0);
    }

    &:hover {
        color: #F8C52C;

        img, svg {
            animation: spinner 1s infinite linear;
        }
    }
}