@import "assets/styles/_global.scss";

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sidebar {
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 1;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -1000px;
}

.logo,
.system,
.section {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;

    svg, img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:after,
    &:before {
        width: 100%;
        content: "";
        display: block;
        padding-top: 100%;
    }

    &:after {
        width: 3px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        will-change: opacity;
    }
    
    &:nth-child(1) {
        &:after {
            background-color: #FF5C60;
            background-color: #ffd920;
        }
    }
    
    &:nth-child(2) {
        &:after {
            background-color: #FFBB73;
            background-color: #ff639d;
        }
    }

    &:nth-child(3) {
        &:after {
            background-color: #FCF582;
            background-color: #8963ff;
        }
    }
    
    &:nth-child(4) {
        &:after {
            background-color: #C2FA92;
            background-color: #05E487;
        }
    }
    
    &:nth-child(5) {
        &:after {
            background-color: #6EC7FC;
            background-color: #2A91FF;
        }
    }
    
    &:nth-child(6) {
        &:after {
            background-color: #BB7FF3;
            background-color: #FFD920;
        }
    }
    
    &:nth-child(7) {
        &:after {
            background-color: #FF54CF;
            background-color: #FF982A;
        }
    }
    
    &:nth-child(8) {
        &:after {
            background-color: #01E4C0;
            background-color: #8963FF;
        }
    }
}

.active {
    &:after {
        opacity: 1;
    }
}

.logo {
    svg, img {
        max-width: 70%;
        max-height: 70%;
    }
}

.icon,
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.icon {
    width: 22px;
    height: 22px;
    content: "";
    opacity: .4;
    border-radius: 50%;
    background-color: rgba(#fff,.4);
}

.settings {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    img, svg {
        width: 22px;
        height: 22px;
    }

    &:hover {
        color: #F8C52C;

        img, svg {
            animation: spinner 1s infinite linear;
        }
    }
}