body {
    margin: 0;
    background-color: #ededed;
}

.test {
    border: 1px solid rgba(lime, .5);
    
    &__item {
        border: 1px solid rgba(red, .5);
    
        &__block {
            background-color: #f00;
        }
    }
}