doctype html
html(
    lang='ru'
    class='no-js'
    itemscope='itemscope'
    itemtype='http://schema.org/WebPage'
)
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        
        title(itemprop='name') React template

        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')

        base(href='/')
        meta(name='fragment', content='!')

        meta(name='google', value='notranslate')
        meta(name='mobile-web-app-capable', content='yes')

        //- <!--Article Specific Metadata-->
        meta(name='description', itemprop='description', content='')

        meta(name='keywords', content='')
        meta(name='robots', content='index,follow')
        meta(name='author', content='Edik Bulikyan <ed.proff@gmail.com>')

        //- <!--Open Graph Metadata-->
        //- meta(property='og:type', content='website')
        //- meta(property='og:title', content='')
        //- meta(property='og:description', content='')
        //- meta(property='og:image', content='')
        //- meta(property='og:image:width' content='1200')
        //- meta(property='og:image:height' content='630')
        //- meta(property='og:site_name', content='')
        //- meta(property='og:url', content='')
        //- meta(property='og:email', content='')
        
        //- <!--Twitter Card Metadata-->
        //- meta(property='twitter:card', content='summary')
        //- meta(property='twitter:url', content='')
        //- meta(property='twitter:title', content='')
        //- meta(property='twitter:description', content='')
        //- meta(property='twitter:image:src', content='')
        //- meta(property='twitter:site', content='@celebroru')
    
        //- meta(property='fb:app_id', content='500712019984442')
    body
        include ./svgstore.html

        main.layout-wrapper#root

        noscript
            .bulletin
                p.headline MODERN BROWSER EXPERIENCE
                p Your browser doesn't support the main features of this website.
                p
                    | Please upgrade to 
                    a(target='_blank', href='https://www.google.com/chrome/browser/desktop/index.html') Google Chrome
                    | , Safari or Firefox for a better experience.

        script.
            window.prerenderReady = false
