body {
    margin: 0;
    overflow: hidden;
    background-color: #ededed;
}

.wrapper {
    padding: 20px;
    
    &__item {
        border: 1px solid rgba(red, .5);
    
        &__block {
            background-color: #f00;
            border: 1px solid rgba(lime, .5);
        }
    }
}
