svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='position:absolute;width:0;height:0;overflow:hidden;')
    defs
        //- Users
        symbol#users(viewbox='45.6 168.9 504 504')
            circle(cx='182.3', cy='393.5', r='48.1', fill='#FFA726')