@import "assets/styles/_global.scss";

.list {
    clear: both;
    margin-bottom: 15px;
}

.component {
    clear: both;
    padding: 20px 25px;
    border: 1px solid $c-whisper;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    &_white {
        background-color: $c-white;
    }

    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.title {
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}