@import 'styles/_global.scss';

.quantity {
  width: 100%;
  max-width: 180px;
  height: 28px;
  position: relative;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0 32px;
}

.count {
  width: 100%;
  height: 28px;
  color: #000;
  padding: 0;
  outline: 0;
  padding-left: 14px;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 2px;
  background: none;
  text-align: center;
  border: 1px solid #ddd;

  &:focus {
    box-shadow: 0 0 0 2px rgba($c-focus-color, .75);
  }
}

.control {
  width: 24px;
  height: 24px;
  color: #fff;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  background-color: #708090;

  &:focus {
    box-shadow: 0 0 0 2px rgba($c-focus-color, .75);
  }
}

.decrease {
  left: 0;
}

.increase {
  right: 0;
}
