@import 'styles/_global.scss';

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    clear: both;
    padding: 20px;
}

.icon-set {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin: 5px;
}

.icon1 {
    width: 20px;
    height: 20px;
    color: rgb(238, 15, 15);
}

.icon2 {
    width: 30px;
    height: 30px;
    color: rgb(238, 135, 17);
}

.icon3 {
    width: 40px;
    height: 40px;
    color: rgb(247, 231, 9);
}

.icon4 {
    width: 50px;
    height: 50px;
    color: rgb(0, 165, 102);
}

.icon5 {
    width: 60px;
    height: 60px;
    color: rgb(67, 202, 247);
}

.icon6 {
    width: 70px;
    height: 70px;
    color: rgb(25, 64, 236);
}

.icon7 {
    width: 80px;
    height: 80px;
    color: rgb(201, 27, 201);
}

.description {
    color: rgba(0, 0, 0, .75);
    font-size: 21px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}

// .image {
//     width: 500px;
//     height: 296px;
//     padding: 10px;
//     background-color: blue;
//     background-size: 480px 276px;
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
//     background-image: url(./assets/image.jpg);
// }
