@import "assets/styles/_global.scss";

$c-sidebar-active: #FFD966;

circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 1000;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotate {
    to {
        stroke-dashoffset: 0;
    }
}

.button {
    width: 100%;
    color: $c-white;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 10px;

    &:nth-child(1) {
        color: #fd7474;
    }
    
    &:nth-child(2) {
        color: #fed971;
    }

    &:nth-child(3) {
        color: #fdfe6b;
    }
    
    &:nth-child(4) {
        color: #d1fe6b;
    }
    
    &:nth-child(5) {
        color: #6bfe74;
    }
    
    &:nth-child(6) {
        color: #6bfeda;
    }
    
    &:nth-child(7) {
        color: #6bfdfe;
    }
    
    &:nth-child(8) {
        color: #6bd1fe;
    }

    &:nth-child(9) {
        color: #746bfe;
    }

    &:nth-child(10) {
        color: #da6bfe;
    }
    
    &:nth-child(11) {
        color: #7367F0;
    }

    &:hover {
        overflow: visible;
    }
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: opacity $a-time ease;
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    left: 100%;
    opacity: 0;
    color: $c-white;
    margin-left: 10px;
    z-index: 100;
    font-size: 1.3rem;
    text-align: left;
    padding: 6px 12px;
    border-radius: 2px;
    white-space: nowrap;
    transition: opacity .2s $a-func, transform .2s $a-func;
    transform: translate3d(0,-50%,0) scale(1.1);
    background-color: rgba($c-black, 0.8);

    /*
    &:before {
        content: "";
        border-style: solid;
        border-right-color: rgba($c-black, 0.8);
        border-width: 4px 6px 4px 0;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate3d(0,-50%,0);
    }
    */
}

.image {
    width: 34px;
    height: 34px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    opacity: .4;
    transition: opacity $a-time $a-func;

    &:hover {
        opacity: 1;
    }
}

.pictogram {
    width: 18px;
    height: 18px;
    font-size: 0;
}

.active .title {
    opacity: 1;
}

.active .circle {
    opacity: 1;

    circle {
        animation-name: rotate;
    }
}

.button:hover .title {
    opacity: 1;
    transform: translate3d(0,-50%,0) scale(1);
}



/* Common style of SVGs */
.progress-button svg {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.progress-button svg path {
	opacity: 0;
	fill: none;
}

.progress-button svg.progress-circle path {
	stroke: #1ECD97;
	stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
	stroke: #fff;
	stroke-linecap: round;
	stroke-width: 4;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

/* Loading, success and error effects */
.loading.progress-button button {
	width: 70px; /* make a circle */
	border-width: 5px;
	border-color: #ddd;
	background-color: transparent;
	color: #fff;
}

.loading.progress-button span {
	transition: opacity 0.15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
	opacity: 0; /* keep it hidden in all states */
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
	opacity: 1;
	transition: stroke-dashoffset 0.3s;
}

/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
	transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}

.loading.elastic.progress-button button {
	transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}