@import 'assets/styles/_global.scss';

$c-sidebar-active: #ffd966;

circle {
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 1000;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.button {
    width: 100%;
    color: $c-white;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 10px;

    &:nth-child(1) {
        color: #fd7474;
    }

    &:nth-child(2) {
        color: #fed971;
    }

    &:nth-child(3) {
        color: #fdfe6b;
    }

    &:nth-child(4) {
        color: #d1fe6b;
    }

    &:nth-child(5) {
        color: #6bfe74;
    }

    &:nth-child(6) {
        color: #6bfeda;
    }

    &:nth-child(7) {
        color: #6bfdfe;
    }

    &:nth-child(8) {
        color: #6bd1fe;
    }

    &:nth-child(9) {
        color: #746bfe;
    }

    &:nth-child(10) {
        color: #da6bfe;
    }

    &:nth-child(11) {
        color: #7367f0;
    }

    &:hover {
        overflow: visible;
    }
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity $a-time ease;

    .active & {
        opacity: 1;

        circle {
            animation-name: svgrotate;
        }
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 0;
    color: $c-white;
    margin-left: 10px;
    z-index: 100;
    font-size: 1.3rem;
    line-height: 1;
    text-align: left;
    padding: 5px 12px 6px;
    border-radius: 0 2px 2px 0;
    white-space: nowrap;
    transition: opacity .2s $a-func, transform .2s $a-func;
    transform: translate3d(0, -50%, 0) scale(1.1);
    background-color: rgba($c-black, .8);

    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 100%;
        top: 0;
        border-top: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 8px solid rgba($c-black, .8);
    }

    .button:hover & {
        opacity: 1;
        transform: translate3d(0, -50%, 0) scale(1);
    }
}

.image {
    width: 34px;
    height: 34px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: .4;
    transition: opacity $a-time $a-func;

    &:hover,
    .active & {
        opacity: 1;
    }
}

.pictogram {
    width: 18px;
    height: 18px;
    font-size: 0;
}

/*
.progress-button svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    pointer-events: none;
}

.progress-button svg path {
    opacity: 0;
    fill: none;
}

.progress-button svg.progress-circle path {
    stroke: #1ecd97;
    stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
    transition: opacity .1s;
}

.loading.progress-button button {
    width: 70px;
    border-width: 5px;
    border-color: #ddd;
    background-color: transparent;
    color: #fff;
}

.loading.progress-button span {
    transition: opacity .15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
    opacity: 0;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
    opacity: 1;
    transition: stroke-dashoffset .3s;
}

.elastic.progress-button button {
    transition: background-color .3s, color .3s, width .3s cubic-bezier(.25, .25, .4, 1.6), border-width .3s, border-color .3s;
}

.loading.elastic.progress-button button {
    transition: background-color .3s, color .3s, width .3s cubic-bezier(.6, -0.6, .75, .75), border-width .3s, border-color .3s;
}
*/
