@import "~styles/_global";

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
    user-select: none;
    align-items: center;
    justify-content: flex-end;
}

.link {
    color: #666;
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    
    &:not(:last-child) {
        margin-right: 10px;
    }

    &_active {
        color: #f00;
    }
}