%layout {
    width: 100%;
    height: 100%;
    max-width: $layout-width;
    padding-left: $layout-margin;
    padding-right: $layout-margin;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    // outline: 1px solid #0FF;

    @media (max-width: $max-desktop) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $max-tablet) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
