.navbar {
    margin: 0;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    background-color: #000;

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__link {
        color: #fff;
        cursor: pointer;
        display: block;
    }
}