doctype html
html(
    lang='ru'
    class='no-js'
)
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title React template

        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=5')

        base(href=htmlWebpackPlugin.options.basePath)
        meta(name='fragment', content='!')

        meta(name='google', content='notranslate')
        meta(name='mobile-web-app-capable', content='yes')

        //- Article Specific Metadata
        meta(name='robots', content='index,follow')
        meta(name='keywords', content='React, starter, pwa')
        meta(name='description', content='React-starter a react web sterter kit')
        meta(name='author', content='Edik Bulikyan <ed.proff@gmail.com>')

    body.loading
        //- svg(xmlns='http://www.w3.org/2000/svg', style='position:absolute;width:0;height:0')
        //-     != htmlWebpackPlugin.options.svgContext
        //-     //- != htmlWebpackPlugin.files.svgstore

        main#app.layout-wrapper

        noscript
            .bulletin
                p.headline MODERN BROWSER EXPERIENCE
                p Your browser doesn't support the main features of this website.
                p
                    | Please upgrade to
                    a(target='_blank', href='https://www.google.com/chrome/browser/desktop/index.html') Google Chrome
                    | , Safari or Firefox for a better experience.

        script.
            if ('serviceWorker' in navigator && location.protocol.indexOf('https') >= 0) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
