doctype html
html(
    lang='ru'
    class='no-js'
)
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title React template

        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=5')

        base(href=htmlWebpackPlugin.options.basePath)
        meta(name='fragment', content='!')

        meta(name='google', content='notranslate')
        meta(name='mobile-web-app-capable', content='yes')

        //- Article Specific Metadata
        meta(name='robots', content='index,follow')
        meta(name='keywords', content='React, starter, pwa')
        meta(name='description', content='React-starter a react web sterter kit')
        meta(name='author', content='Edik Bulikyan <ed.proff@gmail.com>')

        //- link(rel='manifest', href='/manifest.webmanifest')
        //- script(async, src='https://cdn.jsdelivr.net/npm/pwacompat@2.0.6/pwacompat.min.js', integrity='sha384-GOaSLecPIMCJksN83HLuYf9FToOiQ2Df0+0ntv7ey8zjUHESXhthwvq9hXAZTifA', crossorigin='anonymous')
        //- script(src='https://cdn.ravenjs.com/3.24.0/raven.min.js', crossorigin='anonymous')
    body.loading
        svg(xmlns='http://www.w3.org/2000/svg', style='position:absolute;width:0;height:0')
            != htmlWebpackPlugin.options.svgContext
            //- != htmlWebpackPlugin.files.svgstore

        main#app.layout-wrapper

        noscript
            .bulletin
                p.headline MODERN BROWSER EXPERIENCE
                p Your browser doesn't support the main features of this website.
                p
                    | Please upgrade to
                    a(target='_blank', href='https://www.google.com/chrome/browser/desktop/index.html') Google Chrome
                    | , Safari or Firefox for a better experience.

        script.
            //- Raven.config('https://b1633193741740e58c7122d526174117@sentry.io/1238565', {
            //-     release: '1-0-0',
            //-     environment: 'development-test'
            //- }).install();

            if ('serviceWorker' in navigator && 'https:'.indexOf(location.protocol) >= 0) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
