/*
@font-face {
    font-family: 'Darkenstone';
    src: url(./Darkenstone.eot);
    src: url(./Darkenstone.eot?#iefix') format('embedded-opentype'),
         url(./Darkenstone.woff2') format('woff2'),
         url(./Darkenstone.woff') format('woff'),
         url(./Darkenstone.ttf') format('truetype'),
         url(./Darkenstone.svg#Darkenstone') format('svg);
    font-weight: normal;
    font-style: normal;
}
*/
