@import 'styles/_root.scss';
@import 'styles/_global.scss';

/* Fonts */
@import 'styles/_fonts.scss';

/* Vendors */
@import 'styles/_reset.scss';

/* Base style sheets */
@import 'styles/_base.scss';

/* Animations */
@import 'styles/_animation.scss';
