@import 'assets/styles/_global.scss';

$s-table-padding: 10px;
$c-table-border-color: #e4e8eb;

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.col {
    font-size: 1.3em;
    letter-spacing: .05ex;
    vertical-align: middle;
    padding: 4px $s-table-padding;
    border: 1px solid $c-table-border-color;

    &:first-child {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    :hover > & {
        background-color: #fdf5ce;
    }
}

.tcol {
    color: #222;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: .02ex;
    vertical-align: middle;
    padding: 7px $s-table-padding;
    background-color: #ddd;
    text-transform: uppercase;
    border: 1px solid $c-table-border-color;
    border-bottom: 1px solid #bfbebe;
}

.fcol {
    vertical-align: middle;
    padding: $s-table-padding;
    background-color: #f9f6f6;
    border: 1px solid $c-table-border-color;
    border-width: 3px 1px 1px;
}

.sorter {
    padding: $s-table-padding 0;
    display: block;
    cursor: pointer;
    background-image: url(components/table/assets/sort-default.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 12px 12px;

    &_ascending {
        background-image: url(components/table/assets/sort-ascending.svg);
    }

    &_descending {
        background-image: url(components/table/assets/sort-descending.svg);
    }
}

.center {
    padding: 0;
    text-align: center;
}
