@import 'assets/styles/_global.scss';

.layout {
    height: 100vh;
    display: flex;
    overflow: hidden;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #020307;

    &__form {
        width: 100%;
        max-width: 340px;
    }
}
