/* @import "assets/styles/_global.scss"; */

.input {
    width: 100%;
    height: 36px;
    outline: none;
    color: #151515;
    padding: 0 10px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid #ddd;
}
