@import 'assets/styles/_global.scss';

.badge {
    padding: 2px;
    line-height: 1;
    font-size: 1.3rem;
    border-radius: 2px;
    display: inline-block;
    color: darken(#3db27f, 25%);
    border: 1px solid #3db27f;
    background-color: #3db27f;
}

// $c-default-color:               #505F79;
// $c-default-border:              #ececec;
// $c-default-background:          #ececec;

// $c-primary-color:               #fff;
// $c-primary-border:              #00529f;
// $c-primary-background:          #0052cc;

// $c-info-color:                  #a5926c;
// $c-info-border:                 #fef7da;
// $c-info-background:             #fef7da;

// $c-success-color:               #006644;
// $c-success-border:              #e3fcef;
// $c-success-background:          #e3fcef;

// $c-warning-color:               #3e4146;
// $c-warning-border:              #fdaa2a;
// $c-warning-background:          #fdaa2a;

// $c-danger-color:                #fff;
// $c-danger-border:               #dc371d;
// $c-danger-background:           #dc371d;
