@import "assets/styles/_global.scss";

.textinput {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $c-white;
    border: 1px solid $c-whisper;

    &__main,
    &__autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        outline: none;
        padding: 0 20px;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: $font-family;
        background-color: $c-white;
        background: transparent;
    }

    &__main {
        z-index: 11;
        cursor: auto;
        color: $c-black;
        user-select: text;
    }

    &__autocomplete {
        z-index: 10;
        color: $c-pink-swan;
    }
}
